/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
}

/* Estilos para o cabeçalho */
h1 {
  font-size: 3rem;
  font-weight: bold;
}

/* Estilos para o formulário de busca */
.form-row label {
  font-weight: bold;
}

/* Estilos para o contêiner da Bíblia */
#bible-container {
  font-size: 1.5rem;
  line-height: 2;
  margin-top: 2rem;
}

/* Estilos para a versão selecionada */
.version-select {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Estilos para os versículos */
.verse {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Estilos para os números de versículo */
.verse-number {
  font-size: 1.2rem;
  font-weight: normal;
  margin-right: 1rem;
}
